// 给项目提供scss全局变量
// 定义项目主体颜色

// 左侧菜单
$base-menu-width: 260px;
$base-menu-fold-width: 50px;
$base-menu-background: #001529;
$base-menu-logo-height: 50px;
$base-menu-logo-title-font-size: 20px;

// 顶部导航
$base-tabbar-height: 50px;
$base-tabbar-background: white;
// 主内容区
$base-main-background: white;
