// 给项目提供scss全局变量
// 定义项目主体颜色

// 左侧菜单
$base-menu-width: 260px;
$base-menu-background: rgb(2, 23, 45);
$base-menu-logo-height: 50px;
$base-menu-logo-title-font-size: 20px;

// 顶部导航
$base-tabbar-height: 100px;
$base-tabbar-background: yellowgreen;
// 主内容区
$base-main-background: #f0f2f5;
